._adc-{display:block;line-height:0;overflow:hidden}._adc_{flex-direction:row;outline:0;overflow-x:visible;touch-action:pan-y;transition-property:transform;will-change:transform}._add0{display:inline-block;line-height:var(--system-14-line-height)}

._adl5{display:block;-webkit-overflow-scrolling:touch;overflow-x:auto}._adl6{position:relative}

i.img{-ms-high-contrast-adjust:none}i.img u{clip:rect(1px,1px,1px,1px);height:1px;left:auto;overflow:hidden;position:absolute;white-space:nowrap;width:1px}
